<div class='placeholder'>
	<div class='profile'>
		<span class='profile__picture'></span>
		<div class='profile__text'>
			<span class='profile__name'>Name Namename</span>
			<span class='profile__date'>0/00/0000...</span>
		</div>
	</div>
	<span class='placeholder__post'>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac ornare sapien. Quisque a
		est sodales, dignissim lacus ut, tempor nisi. Duis faucibus urna a libero venenatis luctus. In
		leo erat, ornare nec ante ac, consequat blandit enim. Cras vel ligula quis ipsum lobortis
		gravida. Aliquam ac sagittis ligula, id vestibulum ante.
	</span>
	<span class='placeholder__image placeholder__image--full'></span>
</div>