html,
body {
	margin: 0;
}

body {
	background-color: #101010;

	color: white;
	font-family: sans-serif;
	font-weight: 400;
}

#container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
}

#output {
	position: fixed;
	top: 1rem;
	left: 1rem;
	right: 1rem;
	padding: 0.5rem 1rem;

	background-color: black;

	display: flex;
	align-items: center;
	gap: 1rem;
}

#recording {
	display: inline-block;
	background-color: grey;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;

	&.active {
		background-color: red;
	}
}

.placeholder {
	width: min(42rem, calc(100vw - 2 * 2rem));
	border-radius: 1rem;
	padding: 1rem;

	background-color: #303030;

	font-size: 0.9rem;

	margin: 1rem auto;

	display: flex;
	flex-direction: column;
	gap: 1rem;

	&__image {
		display: inline-block;
		width: 100%;

		background-color: #808080;

		&--full {
			height: 42rem;
		}

		&--half {
			height: 21rem;
		}
	}

	&__comment {
		padding-top: 1rem;
		border-top: #808080 solid 2px;

		display: flex;
		gap: 1rem;

		&__text {
			padding: 0.5rem;
			background-color: #404040;
			border-radius: 1rem;
		}

		.profile__picture {
			width: 1.8rem;
			height: 1.8rem;
		}
	}
}

.profile {
	display: flex;
	align-items: center;
	gap: 0.5em;

	&__picture {
		display: inline-block;
		width: 2.2rem;
		height: 2.2rem;
		border-radius: 50%;

		flex-shrink: 0;

		background-color: #808080;
	}

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-weight: 600;
	}
}
